<button id="nav-toggle" class="mobile-nav-toggle" hx-get="/nav-toggle?status=hidden" hx-trigger="click" hx-target="#primary-navigation" hx-swap="outerHTML"></button>
                <ul id="primary-navigation" class="primary-navigation flex">
                    <li class="active">
                        <a href="/"><span>00</span>Home</a>
                    </li>
                    <li><a class="glow-text" href="/about"><span>01</span>About</a></li>
                    <li><a href="/technology"><span>02</span>Technology</a></li>
                    <li><a href="/services"><span>03</span>Services</a></li>
                    <li><a href="/contact"><span>04</span>Contact</a></li>
                </ul>