#hamburgo {

    position: absolute;
    background: url("../images/burger.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    background-color: white;
}