.primary-header {
    position: absolute;
    align-items: center;
    justify-content: space-between;
    font-family: "Bungee";
    width: 100%;
    z-index: 9000;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    padding: 0;
    margin: 0;
    background: hsl(0 0% 0% /0.75);
    
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% /0.1);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation span {
    font-family: "Futuristic";
    margin-inline-end: .7em;
}

.primary-navigation label:hover *, label:hover{
    color: gold; /* Change the text color on hover (optional) */
    text-shadow: 0 0 20px gold;
}


@media (min-width: 35em) and (max-width: 55em) {
    .primary-navigation label > span{
        display: none;
    }
}
@media (min-width: 35em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 1.7em;
        padding-inline: clamp(3rem, 10vw, 10rem);
    }
}

@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2.5em;
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1000;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
   
    .mobile-nav-toggle:checked ~ .primary-navigation {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        /**/
        background: url("../images/burger.svg");
        background-repeat: no-repeat;
        background-size: contain;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }
    .mobile-nav-toggle:checked {
        background: url("../images/burger.svg");
    }
}



