.primary-header {
    align-items: center;
    justify-content: space-between;
}
.mobile-nav-toggle {
    display: none;
}
.primary-navigation {
    
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0 0% 100% /0.1);
    backdrop-filter: blur(1rem);
}
.primary-navigation a {
    font-family: "Bungee";
    text-decoration: none;
    transition: 500ms;
}
.primary-navigation a:hover *, a:hover{
    color: gold; /* Change the text color on hover (optional) */
    text-shadow: 0 0 10px gold;
}

.primary-navigation span {
    font-family: "Futuristic";
    margin-inline-end: .7em;
}

@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1000;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        transform: translateX(100%);
        transition: all 350ms ease-out;
    }
    .primary-navigation.active {
        transform: translateX(0%);
    }
    .mobile-nav-toggle {
        text-shadow: 19px 5px 5px gold;
        display: block;
        position: absolute;
        background: url("../images/burger.svg");
        background-repeat: no-repeat;
        background-size: contain;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }
}



@keyframes glow {
    0% {
      text-shadow: 0 0 5px rgba(0, 0, 255, 0.7); /* Initial shadow style */
    }
    50% {
      text-shadow: 0 0 20px rgba(0, 0, 255, 0.7); /* Glow effect */
    }
    100% {
      text-shadow: 0 0 5px rgba(0, 0, 255, 0.7); /* Return to the initial shadow style */
    }
  }