.neon-button {
    position: relative;
    display: inline-block;
    font-family: "Megatrans";
    font-weight: 900;
    padding: 1rem 2rem;
    font-size: min(2vw, 12pt);
    text-transform: uppercase;
/*     color: gold; */
    background-color: black;
    text-shadow: 0 0 10px gold;
    transition: all 1200ms ease-out;
    letter-spacing: 3px;
    overflow: hidden;
    animation: pulse 3s ease-in-out infinite; 
}

.neon-button:hover {
    background-color: gold;
}

@supports (-webkit-box-reflect: below 1px linear-gradient(transparent, #0005)) {
    .neon-button:hover {
        -webkit-box-reflect: below 10px linear-gradient(transparent, #0005);
    }

}
.neon-button div {
    position: absolute;
    display: block;
}
@keyframes pulse {
    0% {
        color: white; 
        border: 2px solid white;
        text-shadow: 0 0 4px white,
                     0 0 8px white,
                     0 0 12px white,
                     0 0 18px white;
        box-shadow: 0 0 23px 8px white;
    }
    30% {
        color: dimgray; 
        border: 2px solid black;
        text-shadow: 0 0 10px transparent;
        box-shadow: 0 0 23px 8px rgba(0, 0, 0, 0.516);
    }
    50%, 100% {
        color: white;
        border: 2px solid white;
        text-shadow: 0 0 4px white,
                     0 0 8px white,
                     0 0 12px white,
                     0 0 18px white;
        box-shadow: 0 0 23px 8px white;
    }
    
}

