.page {
    position: absolute;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-position: left bottom;
    background-size: cover; 
    transition: opacity 1.5s ease;

}

#home:checked ~ #home-page {
    position: absolute;
    opacity: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 8vw;
    width: 100%;
    height: 100%;
    background-image: url('../images/gold_planet.jpg');

}
#mission:checked ~ #mission-page {
    display: block;
    opacity: 1;
   
    background-image: url('../images/gold-swirl.jpg');

}
#technology:checked ~ #technology-page {
    display: block;
    opacity: 1;
   
    background-image: url('../images/gold-system.jpg');
 
}
#services:checked ~ #services-page {
    display: block;
    opacity: 1;

    background-image: url('../images/gold-galaxy.jpg');
}
#contact:checked ~ #contact-page{
    display: block;
    opacity: 1;

    background-color: violet;
}
