.page {
    position: absolute;
    margin-top: 100vh;
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    height: 100vh;
    transition: margin-top 1s ease;

}

#home:checked ~ #home-page {
    margin-top: 0;
    background-color: black;
}
#mission:checked ~ #mission-page {
    margin-top: 0;
    background-color: blue;
}
#technology:checked ~ #technology-page {
    margin-top: 0;
    background-color: red;
}
#services:checked ~ #services-page {
    margin-top: 0;
    background-color: green;
}
#contact:checked ~ #contact-page{
    margin-top: 0;
    background-color: violet;
}
