#services-page {
    display: block;
    font-family: "Megatrans";
    text-shadow: 0 0 15px black;
    background-image: url('../images/gold-galaxy.jpg');
}
#services:checked ~ #services-page {
    opacity: 1;
    z-index: 1;
}
#app-display {
    width: 100%;
    height: 92%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-size: min(2.5vw, 14pt);
    gap: 2em;
}

@media (max-width: 35em) {
    .menu-buttons {
        flex-direction: column;
        align-items: center;
        gap: 4em;
    }
}

.toggle-checkbox {
    display: block; /* Hide the checkbox input */
}
  
.toggle-label {
    cursor: pointer;
}
  
.chevron {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid red;
    transform-origin: center center; /* Set the transform origin to the center */
    transition: transform 0.3s ease-in-out;
}
  
.toggle-checkbox:checked + .toggle-label .chevron {
    transform: rotateX(180deg); /* Rotate the chevron 180 degrees around the x-axis when checkbox is checked */
}
  
