* {
    color: white;
    font-family: "Bungee";
    box-sizing: border-box;
}
html {
    position: relative;
    width: 100%;
}
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

select, button {
    background-color: #333333;
    color: white;
}

a:visited {
    color: white;
}

.product-card {
    border: 1px solid gold;
    margin: 3px 0;
    padding: 3px;
} 

body {
    background-image: url('../images/gold_planet.jpg');
    background-size: cover; /* Adjust the image size to cover the entire header */
    background-position: left bottom;
    background-attachment: fixed;

}
body.off-stage {
   
}
/* Style the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}
#god {
    font-size:9px;
    font-weight: lighter;
}
/* Style the navigation menu */

@keyframes colorChange {
    0% { color: blue; }
    50% { color: green; }
    100% { color: red; }
}

#color-demo {
    animation: colorChange 2s infinite; /* Animation name, duration, iteration count */
}