* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body {

    overflow: hidden;
    background-color: black;
    
}
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
.hidden {
    display: none;
} 

select {
    background-color: #333333;
    color: white;
}

.product-card {
    border: 1px solid gold;
    margin: 3px 0;
    padding: 3px;
} 


/* Style the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

