* {
    color: white;
    font-family: "Bungee";
    box-sizing: border-box;
    
}
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
.hidden {
    display: none;
} 

select, button {
    background-color: #333333;
    color: white;
}

a:visited {
    color: white;
}

.product-card {
    border: 1px solid gold;
    margin: 3px 0;
    padding: 3px;
} 

body {
    background-image: url('../images/gold_planet.jpg');
    background-size: cover; /* Adjust the image size to cover the entire header */
    background-position: left bottom;
    background-attachment: fixed;

}
/* Style the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

