#services-page {
    display: block; 
    font-family: "Megatrans";
    text-shadow: 0 0 15px black;
    background-image: url('../../images/gold-galaxy.jpg');
}
#services:checked ~ #services-page {
    opacity: 1;
    z-index: 1;
}
#app-display {
    border: 2px solid red;
    /* margin-left: 5%;
    margin-top: 6%; */
    margin: 4em auto 0 auto;
    width: 90%;
    height: 82%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-size: min(2.5vw, 14pt);
    gap: 2em;
}

@media (max-width: 35em) {
    .menu-buttons {
        flex-direction: column;
        align-items: center;
        gap: 4em;
    }
}

.toggle-checkbox {
    display: block; /* Hide the checkbox input */
}
  
.toggle-label {
    cursor: pointer;
}
  
.chevron {
    overflow: visible;
    transform-origin: center center; /* Set the transform origin to the center */
    transition: transform .7s ease-in-out;
}
.chevron:hover #chev-poly{
    fill: gold;
    filter: url(#white-glow)
}
.toggle-checkbox:checked + .toggle-label .chevron {
    transform: rotateX(180deg);

} 

.app-result {
    width: 90%;
} 

.brief-page {
    opacity: 0;
    flex-direction: column; 
    gap: 2em; 
    align-items: center; 
    width: 90%;
    z-index: -1;
    transition: opacity .5s ease-out;
}

#brief-page1:has(#brief-radio1:checked),
#brief-page2:has(#brief-radio2:checked),
#brief-page3:has(#brief-radio3:checked) {
    opacity: 1;
    z-index: 1;
}

.brief-radio {
    width: 2em;
    height: 3em;
    background-color: white;
}
#mission-briefing {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0);
    height: 92vh;
    background: hsl(0 0% 0% /0.75);
    transition: all 400ms ease-out;
}
#mission-briefing:has(#toggleCheckbox:checked) {
    transform: translateY(-82vh);
    z-index: 40;
}
#brief-nav {
    margin-bottom: 2em;
}
#load-bar {
    display: flex;
    width: min(80%, 7in);
    height: 2em;
    background-color: gold;
}
#load-progress {
    background-color: red;
    height: 2em;
}
  
